<form id="form" action="/login" method="POST" class="auth-form">
<h1>Login</h1>


  <label for="username">Username</label> 
  <input type="text" name="username" placeholder="Your username"/>
  <br>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password"/>
    <br>

  <button type="submit" class="login-btn">Login</button>
</form>


{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}