
<form id="form" action="/login" method="POST" class="auth-form">
<div class="form-container">
<h1>Login</h1>


  
  <input type="text" name="username" placeholder="Username"/>
  <br>

  
  <input type="password" name="password" placeholder="Password"/>
    <br>

  <button type="submit" class="submit-btn">Login</button>
</div>
</form>

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}