<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
 
  <link rel="stylesheet" href="/stylesheets/signup-form.css" />

  <!-- imported font-->
  <link href="http://fonts.cdnfonts.com/css/cosima" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/sweet-sans-pro" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/casual-softcore" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/polka-b" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/kreon-2" rel="stylesheet">
                          
                
</head>
<body>





<!-- This is the signup form -->

<form id="form" action="/signup" method="POST" class="auth-form">
<div class="form-container">
<h1>Start your journey</h1>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username" />
  
  <br>

  <label for="password">Password </label>
  <input type="password" name="password" placeholder="Your password"/>
  

  <button type="submit" class="submit-btn">Sign up</button>
</div>
</form>

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}


</body>