
<div class="index-container">
<div class="index-img-container">
    <div class ="index-text">
        <h1>Welcome to the Game List</h1>
        <h3>Search for your next adventure or <br>add them to your collection of completed quests!</h3>
    </div>
    <div class="img-wrap">
        <img src="./images/gaming-bg-2.jpg" alt="bg-img"class="index-bg">
    </div>

</div>

<!-- bonus sections -->


</div>

<br>



