<h1>{{title}} 🚀</h1>
<p>This is the homepage</p>

<br>
<div id="">
  {{#if userIsLoggedIn}}
    <a href="/secret">
      <button>Protected page (requires authentication!)</button>
    </a>

    <a href="/logout">
      <button>Logout</button>
    </a>
   {{/if}}

</div>


