
<div class="index-container">
<h1>Welcome the the Game List</h1>

<h3>Search for your next adventure or add them to your collection of completed quests!</h3>
<h5>Start your adventure</h5>
<a href="/signup" class="btn">Here</a>
</div>

<br>



