<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>


  {{!-- Nav bar with the options  --}}
  <div class="nav-container"> <!-- Contains the nav-bar and the search-bar--> 
  <nav class="nav-bar">
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/games/add">Add game</a>
    
  </nav>

  
    <!-- container for the searchbar -->
    <div class="search-container">
      <form action="/search" method="GET" class="search-form">
        <input type="text" name="gameTitle" placeholder="search game" class="search-bar"> 
        <button type="submit" class="search-btn">Search</button>
      </form>
    </div>
  </div>
  {{{body}}}

  <div class="footer">
    <p>Developed by team FY - Fabio & Yuri</p>
  </div>

   <script src="/js/script.js"></script>
   

</body>
</html>