
<link rel="stylesheet" href="/stylesheets/profile-style.css" />



<div class="container">


<h1>My profile</h1>
<img src="https://tinyurl.com/96bb7ks" alt="profile-picture" class="profile-picture">

<h2>Welcome {{user.username}}</h2>

<br>
    <form action="/edit" method="GET">
        <button class="edit-btn"><a>Edit</a></button>
    </form>
</div>
