/* Styles for the profile view */

.container{
    background-color: #292929;
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-transform: capitalize;
    border-radius: 4px;
    margin-bottom: 150px;
    box-shadow: 0 5px 15px rgb(194, 64, 49, 0.7);
}


.profile-picture{
    background-color: #292929;
    height: 180px;
    width: 30%;
    margin: auto;
    border-radius: 50%;
    border-radius: 1px solid crimson;
    font-size: 0.6em;
     /* setting the picture in shades of gray */
}




.edit-btn{
    background-color: rgb(194, 64, 49);
    width: 20%;
    padding: 8px;
    margin-bottom: 50px;
    border-radius: 8px;
    border-style: hidden;
    color: white;
    text-transform: uppercase;
    
}

.edit-btn:hover{
    background-color:  #111111;
    color:white;
    transition-duration: 0.4s;
}