body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.nav-bar {
  width: 100%;
  display: flex;
  background-color: #00b7ff;
  

}

a {
  color: white;
  padding: 20px;
  text-decoration: none;
  padding-left: 20px;
  
}

h1 {
  color: 15px;
}

.game-container{
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 5px;
  
}

.game-img{
  height: 150px;
  border-bottom: 2px solid black;
  
}
form{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 30%;
}


.footer{
  color: white;
  background-color: black;
  bottom: 0;
  
  width: 100%;
  height: 100px;
  text-align: center;
}
