body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


/* TheGameList logo  */
.logo{
  margin-left: 5px;
  margin-top: 15px;
}

.nav-container{
  background-color:  #00b7ff;
  height:120px;
}


.nav-wrap{
  display: flex;
}


/* NAV-BAR ON THE LEFT STYLES */

.nav-bar {
  width: 85%;
  display: flex;

}

a {
  color: white;
  padding: 20px;
  text-decoration: none;
  padding-left: 20px;
  
}


/* NAV-BAR ON THE RIGHT STYLES */

.nav-end{
  display: flex;
  text-align: center;
  width: 15%;
  
}

.nav-end a{
  color: white;
  height: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 15px;
  border: 2px solid white;
  border-radius: 8px;
}

.nav-end a:hover{
  background-color:#20c0ff;
  transition-duration: 0.4s;
}



/* Search bar styling */
.search-form{
  width: 100%;
  display: flex;
  margin-left: 15px;
  border-radius: 10px;
  padding: 5px;
  
}
.search-container{ /* This contains the search input type and the button */ 
  display: flex;
  flex-direction: row;
  
}

.search-bar{
  width: 30%;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  
}

.search-btn{
  border-radius: 5px;
  background-color: #00a6e7;
  color: white;
}

/* Style for the game list */
.container{
  
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}

.box{
 
  margin: 10px;
  padding: 8px;
  width: 200px;
  height: auto;
  border: 2px solid black;;
}


.title{
  text-align: center;
  margin-top: 4%;
}

.game-container{
  width: 15%;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
  line-height: 5px;
  margin-left: 2%;
  
  
}


.game-img{
 height: 15vh;
  border: 2px solid black;
  border-radius: 50%;
} 

/* Stylling for the authentication forms */
.auth-form{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 30%;
}


.footer{
  color: white;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 50px;
  
  
}

.text{
  top: 60px;
  width: 50%;
  margin: auto;
  text-align: center;

}

