body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.nav-container{
  background-color:  #00b7ff;
  height:110px;
  
  
}

.nav-bar {
  width: 100%;
  display: flex;

}

a {
  color: white;
  padding: 20px;
  text-decoration: none;
  padding-left: 20px;
  
}

h1 {
  color: 15px;
}

/* Search bar styling */
.search-form{
  width: 100%;
  display: flex;
  margin-left: 15px;
  border-radius: 10px;
  padding: 5px;
  

}
.search-container{ /* This contains the search input type and the button */ 
  display: flex;
  flex-direction: row;
  
}

.search-bar{
  width: 30%;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  
}

.search-btn{
  border-radius: 5px;
  background-color: #00a6e7;
  color: white;
}

/* Style for the game list */

.title{
  text-align: center;
  margin-top: 4%;
}

.game-container{
  width: 15%;
  border: 1px solid black;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 5px;
  margin-left: 2%;
  
  
}


.game-img{
  height: 150px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  
}

/* Stylling for the authentication forms */
.auth-form{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 30%;
}


.footer{
  color: white;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  
}
