<h1>Games</h1>



  <!-- This is a form to add a new game to the game list --> 
  
  <form action="/games/add" method="POST">
  <h3>Add a new game</h3>

  <label for="">Name:</label>
  <input type="text" name="title">

  
  <label for="">Creator:</label>
  <input type="text" name="creator">
  
     <button type="submit">Create Game</button>
</form>