
  <!-- This is a form to add a new game to the game list --> 

<div class="add-game-wrap">
  <div class="add-game-title">
  <h1>Creator Zone</h1>
  <h3>Add a new game</h3>
  </div>

  <form action="/games/add" method="POST" class="add-game-form" enctype="multipart/form-data">

  <div class="boxes">
  <div class="add-game-box">
  <label for="name" class="add-form">Name:</label>
  <br>
  <input type="text" name="title" placeholder="Game Name">
</div>

  <div class="add-game-box">
    <label for="url" class="add-form">Where to play: </label>
    <br>
    <input type="text" name="url" placeholder="Game url">
  </div>


  <div class="add-game-box">
    <label for="category" class="add-form">Category:</label>
    <br>
      <select name="category" id="category">
        <option value="mmorpg">MMORPG</option>
        <option value="platform">Platform</option>
        <option value="rpg">RPG</option>
        <option value="fps">FPS</option>
        <option value="sports">Sports</option>
        <option value="adventure">Adventure</option>
        <option value="horror">Horror</option>
  </select>
  </div>

  <div class="add-game-box">
    <label for="picture"><h3>Image</h3>
    <div class="imgProfile">
      <input type="file" name="image" />
    </div>


     <button type="submit"class="add-game-btn">Create Game</button>

  </div>

</form>

</div>
<div class="empty" style="background-color: red; height: 100%">
 <p>test</p>
 
</div>