<h1>Games</h1>



  <!-- This is a form to add a new game to the game list --> 
  
  <form action="/games" method="POST">
  <h3>Add a new game</h3>
  <label for="">Name:</label>
  <input type="text" name="title" id="">
  
  <label for="">Category:</label>
  
  <!-- bootstrap genre selection --> 
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Platform</label>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Adventure</label>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox3">Action</label>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
  <label class="form-check-label" for="inlineCheckbox4">Horror</label>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
  <label class="form-check-label" for="inlineCheckbox5">Single player</label>
  </div>

  <label for="">URL:</label>
  <input type="text" name="plot" id="">
  
  <label for="">Creator:</label>
  <input type="text" name="plot" id="">
  
     <button type="submit">Create Game</button>
</form>





<ul>
  
  {{#each gameListDB}}
      <li> 
        <a href="/games/{{this._id}}"> {{ this.title }} </a>
        <form action="/games/{{this._id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
  {{/each}}
</ul>