
<h1 class="title">Game List</h1>


<!--
<div class="wrapper"> <!---Wrappes the whole content -- > 
{{#each gameList}}
      <div class="row"> <!--- create the rows 
        <div class="column">
          <div class="game-container">
              <div class="game-img">
                <img src="https://tinyurl.com/96bb7ks" alt="game-cover" class="game-img">
              </div>
                <p><b>Title:</b> {{title}}</p>
                <p><b>Category:</b> {{category}}</p>
          </div>
        </div>
      </div>
</div>
{{/each}}-->

<div class="container">
{{#each gameList}}
  <div class="box">
    <img src="https://tinyurl.com/96bb7ks" alt="game-cover" class="game-img">
    <p><b>Title:</b> {{title}}</p>
    <p><b>Category:</b> {{category}}</p>
  </div>
  {{/each}}
</div>
