
<h1 class="title">Game List</h1>




<div class="container">
{{#each gameList}}
  <div class="box">
    <img src="https://tinyurl.com/96bb7ks" alt="game-cover" class="game-img">
    <p><b>Title:</b> {{title}}</p>
    <p><b>Category:</b> {{category}}</p>
  </div>
  {{/each}}
</div>
