<link rel="stylesheet" href="/stylesheets/profile-style.css" />

<div class="edit-container">
      
    <form id="form" action="/edit" method="POST"  enctype="multipart/form-data">
      <div class="text"> 
      <h1>Edit profile</h1>

            <label for="picture"><h3>New profile picture</h3>
             <label for="file" class="upload-img"><img src="./../.././images/upload.svg" alt="upload-img" class="upload"></label>
            <input type="file" name="profile-picture" id="file"  value="{{user.profilePicture}}"/> <br/>
            </label>

            <br>

            <label for="username"><h3>New username</h3></label>
            <input type="text" name="username" value="{{user.username}}" />
            <br>


            <button class="edit-button" type="submit">Submit</button>
      </div>
    </form>
    
      

</div>


{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}
